<div class="container" style="text-align: center;">
    <h2>Employees DashBoard</h2>
</div>
<hr>
<div class="container">
    <div class="row">
      <div class="col-sm-6 mb-3 mb-sm-0" >
        <div class="card" style="width: 80%; height: 100%;">
          <div class="card-body">
            <h5 class="card-title">Give Reviews</h5>
            <p class="card-text">Feel Free to give reviews to the Employees and get a batter environment to work.</p>
            <a href="/user/employees" class="btn btn-primary">Give Reviews</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card" style="width: 80%; height: 100%;">
          <div class="card-body">
            <h5 class="card-title">My Reviews</h5>
            <p class="card-text">See what reviews you got and work on them.</p>
            <a href="/user/ratings" class="btn btn-primary">See Reviews</a>
          </div>
        </div>
      </div>
    </div>
  </div>
