<style>
    .profile-photo {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 50%;
      border: 2px solid #ddd;
      margin-top: 20px;
    }
    .profile-container {
      background-color: #f8f9fa;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin-top: 20px;
    }
    .profile-info h2 {
      margin-top: 10px;
    }
    .input-section {
      margin-top: 30px;
    }
    .btn-container {
      display: flex;
      justify-content: flex-start;
      gap: 15px;
      margin-top: 20px;
    }
  </style>


<%if(rating) { %>
    <div class="alert alert-success" role="alert" style="text-align: center;">
        Overall rating : <%=rating %>
      </div>    
<%}%>

  <div class="container mt-4">
    <div class="row">

      
      <!-- Here Have to bind for loop  -->
      <%reviews.forEach((review)=>{ %>
        <div class="col-md-6 my-2">
            <div class="card" style="width: 60%;">
              <div class="card-body">
                <h5 class="card-title">Company's Employee </h5>
                <h6 class="card-subtitle mb-2 text-body-secondary"> <h4>rating :  <%=review.rating %> </h4></h6>
                <p class="card-text">review : <%=review.review %></p>
               
              </div>
            </div>
          </div>
     <% }) %>
     

    </div>
  </div>